CS_SQL_SERVER=
CS_SQL_DATABASE=
CS_SQL_DATABASE2=
CS_SQL_USER=
CS_SQL_PASSWORD=
CS_SQL_ESQUEMA=
CS_SQL_ENCRYPT=
CS_SQL_TRUST_CERT=

CS_JWT_SECRET=
CS_JWT_EXPIRES_IN=
CS_AUTH_COOKIE=
CS_AUTH_COOKIE_SECURE=false
